# Value in {development, staging, production}
NODE_ENV=
PORT=

DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_HOST=
DATABASE_PORT=
DATABASE_NAME=

# API credentials
SALT_MINES_USER_NAME=
SALT_MINES_USER_PASSWORD=

# Salty Bet account credentials, used to authenticate and place bets
SALTY_BET_USER_EMAIL=
SALTY_BET_USER_PWORD=